@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hello @User.Identity.Name
    </a>
    <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-white" asp-action="LogOut" asp-controller="Account">Logout</a>
    </div>
</li> 
}
else
{
<li class="nav-item">
    <a class="btn btn-outline-light" asp-controller="Account" asp-action="Login">Login</a>
    <a class="btn btn-outline-light" asp-controller="Account" asp-action="SignUp">Register</a>
</li>
}